header {
  width: 100%;
  height: 150px;
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  z-index: 1;
}

.header-logo-container {
  flex: 0.5 50%;
  width: 100%;
  padding: 0.5rem;
  height: 100%;
}
.header-logo {
  height: 100%;
  object-fit: contain;
}

header > nav {
  flex: 1 100%;
  width: 100%;
}

header > nav ul {
  width: 100%;
  height: inherit;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  font-weight: 500;
}

header > nav ul > li {
  color: var(--text-light);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.06rem;
  word-spacing: 0.1rem;
}

header > nav ul > li:active {
  color: var(--deep-navy);
}
header > nav ul > li:hover {
  color: var(--gold);
  text-shadow: 2px 2px 0 var(--subtle-grey);
  font-weight: 700;
}
