/* HERO SECTION */
.hero {
  padding: 6rem 6rem;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  align-items: center;
  justify-items: start;
  gap: 2%;
}

.hero-title {
  color: var(--text-light);
  grid-area: 1 / 1 / 2 / 3;
  width: 100%;
  height: 100%;
  text-shadow: 2px 2px 0 var(--subtle-grey);
  position: relative;
  z-index: 1;
}

.hero-title > h2 {
  width: fit-content;
  position: relative;
  top: 15%;
  left: 6%;
  font-size: 48px;
}
.hero-title > h2 span {
  color: var(--gold);
}
.hero-title > h3 {
  width: fit-content;
  position: relative;
  top: 50%;
  left: 6%;
}
.hero-title > h1 {
  font-size: 58px;
  width: fit-content;
  position: relative;
  top: 40%;
  left: 23%;
  color: var(--gold);
  text-shadow: 3px 3px 0 var(--subtle-grey);
}
.hero-title > label {
  width: 150px;
  display: block;
  position: relative;
  top: 18%;
  left: 58%;
  font-size: 48px;
}
.hero-title > label input {
  color: var(--gold);
  width: inherit;
  animation: blink 1.5s step-start infinite;
}
.hero-title > label input:focus {
  animation: none;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.hero-title h1,
.hero-title h2,
.hero-title h3 {
  margin: 0.5rem 0;
}

.hero-description {
  grid-area: 2 /1 / 3 / 2;
  width: 100%;
  margin-top: 30px;
  text-align: justify;
  z-index: 1;
  position: relative;
  left: 12%;
}
.hero-description p {
  width: 90%;
  color: var(--text-light);
  text-shadow: 1.5px 1px 0 var(--subtle-grey);
}
.hero-description p span {
  text-shadow: 2px 2px 0 var(--subtle-grey);
}

.hero-video {
  grid-area: 1 / 2 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-video video {
  width: 100%;
  min-width: 200px;
  height: auto;
  box-shadow: 0 4px 20px -6px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  /* mix-blend-mode: lighten; */
}
.hero-video svg {
  margin: 5px;
  position: absolute;
  top: 0;
  left: 0;
  justify-self: start;
  z-index: 1;
}

.hero-video svg:nth-child(2) {
  left: 30px;
}

/* HOW IT WORKS SECTION */
.how-it-works-section {
  background-color: var(--cream);
  padding: 6rem 6rem;
  border-top: 2px solid var(--gold);
}

/* ABOUT SECTION */
.about-section {
  background-color: var(--cream);
  padding: 6rem 6rem;
  border-bottom: 2px solid var(--gold);
}

/* WHY CHOOSE US SECTION */
.why-choose-us-section {
  width: 100%;
  height: 100%;
  padding: 6rem 6rem;
}

.why-choose-us-section h2 {
  width: 100%;
  text-align: start;
}

.reason-container {
  min-height: 250px;
  margin-top: 60px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  transition: all 0.3s ease;
}

.reason-box {
  flex: 1;
  background-color: var(--cream);
  color: var(--text-dark);
  min-width: 150px;
  padding: 1.5rem;
  border: 2px solid var(--subtle-grey);
  border-radius: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  cursor: pointer;
  overflow: hidden;
}
.reason-box p {
  display: none;
}

.reason-box:hover {
  flex: 2.5;
  background-color: var(--cream);
  color: var(--gold);
  border: 2px solid var(--gold);
  text-shadow: 1px 1px var(--subtle-grey);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.reason-box:hover p {
  display: block;
  color: var(--text-dark);
  text-shadow: none;
}

.reason-container:hover .reason-box:not(:hover) {
  flex: 0.8;
  opacity: 0.8;
}

/* REVIEW SECTION */
.review-section {
  background-color: var(--cream);
  padding: 6rem 6rem;
  border: 2px solid var(--gold);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.review-section > h2 {
  flex: 1 0 100%;
  text-align: center;
}

.review-container {
  margin-bottom: 2rem;
  padding: 2rem;
  scroll-snap-type: x mandatory;
  gap: 1.5rem;
  display: flex;
  overflow-x: scroll;
  justify-content: space-evenly;
  flex: 1;
}

.review-container::-webkit-scrollbar {
  display: none;
}

.review-card {
  flex: 0 0 400px;
  border-radius: 15px;
  border: 1px solid var(--gold);
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  scroll-snap-align: start;
}

/* Arrow Buttons */
.arrow-btn-container {
  width: 45px;
  height: 45px;
  box-shadow: 0 0 10px -6px var(--dark);
  cursor: pointer;
  z-index: 2;
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  display: flex;
}

/* Left and right positioning (customize as needed) */
.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.arrow-btn {
  font-size: 1.5rem;
  color: var(--secondary);
  opacity: 0.6;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.arrow-btn-container:hover .arrow-btn {
  color: var(--dark);
  opacity: 1;
}

.arrow-btn-container:active .arrow-btn {
  color: var(--secondary);
  transform: scale(0.95);
}

/* FEATURE SECTION */
.feature-section {
  padding: 6rem 6rem;
  text-align: center;
}

.feature-section h2 {
  margin-bottom: 2rem;
}

.feature-section > div {
  width: 100%;
  margin: 60px 0;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  justify-items: center;
  align-items: start;
  gap: 10px;
}

.feature-section > div > .feature-image-holders {
  align-self: center;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff8f0;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0px 0px 8px -3px #00000066;
}

.feature-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 70vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.feature-container::-webkit-scrollbar {
  display: none;
}

.feature-box {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px -4px rgba(0, 0, 0, 0.2);
}

.feature-section > div > .feature-container > .feature-box > button {
  align-self: flex-end;
}

@media (max-width: 1350px) {
  .why-choose-us-section h2 {
    width: 100%;
    text-align: center;
  }
  .reason-container {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .feature-section {
    flex-direction: column;
    height: auto;
  }

  .feature-section > div > .feature-container {
    width: 100%;
    height: 70vh;
  }

  .feature-section > div > .feature-image-holders {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .review-section {
    height: 460px;
    align-items: stretch;
  }
  .review-container {
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow-y: scroll;
  }

  .review-card {
    flex: 1;
  }

  .arrow-btn-container {
    display: none;
  }
}
