@import "tailwindcss";

:root {
  --navy-blue: #2e91ff;
  --gold: #e1c001;
  --cream: #f8f7f2;
  --text-light: #ededed;
  --text-dark: #2a2a2a;
  --subtle-grey: #6b7280;
  --deep-navy: #001128;
}

#alert-message {
  padding: 20px;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: var(--cream);
  align-self: center;
}

h1 {
  /* font-family: var(--font-montserrat); */
  font-size: 48px;
  font-weight: 900;
}

h2 {
  /* font-family: var(--font-montserrat); */
  font-size: 36px;
  font-weight: 700;
}

h3 {
  /* font-family: var(--font-montserrat); */
  font-size: 28px;
  font-weight: 600;
}
h4 {
  /* font-family: var(--font-montserrat); */
  font-size: 20px;
  font-weight: 500;
}

p {
  /* font-family: var(--font-lato); */
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}
.small-text {
  /* font-family: var(--font-lato); */
  font-size: 14px;
}
/* button's style */
.main-btn-style,
.secondary-btn-style {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.main-btn-style:hover,
.secondary-btn-style:hover {
  font-weight: 900;
  transform: scale(1.02);
}
.main-btn-style {
  background-color: var(--gold);
  color: var(--dark);
}
.secondary-btn-style {
  background-color: var(--subtle-grey);
  color: white;
}

.active-tab {
  text-decoration: overline;
}

body {
  background: linear-gradient(
    180deg,
    var(--navy-blue),
    var(--cream),
    var(--gold)
  );
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-lato);
}

main {
  min-height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10%;
  padding: 6rem 6rem;
  text-align: left;
}
