@import "tailwindcss";

:root {
  --light: #f8f8f8;
  --primary: #ffd900;
  --secondary: #d18718;
  --dark: #1f1f1f;
}

#alert-message {
  padding: 20px;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: #ffcb4d;
  align-self: center;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  font-family: var(--font-montserrat);
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--font-montserrat);
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: var(--font-montserrat);
}
h4 {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: var(--font-montserrat);
}

p {
  color: #4a5565;
  margin-top: 12px;
  font-size: 1rem;
  font-family: var(--font-lato);
  line-height: 1.4;
  font-weight: 400;
}
.small-text {
  color: #4a5565;
  font-size: 0.875rem;
}
/* button's style */
.main-btn-style,
.secondary-btn-style {
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.main-btn-style:hover,
.secondary-btn-style:hover {
  font-weight: 900;
  transform: scale(1.02);
}
.main-btn-style {
  background-color: var(--primary);
  color: var(--dark);
}
.secondary-btn-style {
  background-color: var(--dark);
  color: white;
}

.active-tab {
  text-decoration: overline;
}

body {
  background-color: var(--light);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-lato);
}

main {
  background-color: #f9fafb;
  min-height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 6rem;
  text-align: left;
  background: linear-gradient(to bottom right, #fff8f0, #fff);
}
